.right {
}

.left {
  display: flex;
  gap: 12px;
}

.container {
  background-color: var(--color-white);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  height: var(--navbar-height);
}

.navItems {
  display: flex;
  align-items: center;
}
