.item {
  height: var(--navbar-height);
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--color-white);

  &:hover {
    border-bottom: 2px solid var(--color-text-light);
  }
}

.active {
  border-bottom: 2px solid var(--color-text-light);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 22px;
  display: flex;
  color: var(--color-text-light);
}

.name {
  font-size: 14px;
  color: var(--color-text-light);
  margin-top: 3px;
}
